.sub_btn{
    
    background-color: black;
    
}

/* @media screen and (min-width:200px) and (max-width:800px){
    .prf_paper{
        width:25rem;
    }
}


@media screen and (min-width:280px) and (max-width:800px) {

    .task_paper{
        height: 10rem;
        margin-top: 40rem;
        
    }    
}

@media screen and (min-width:280px) and (max-width:600px) {
    .slider_box{
        width:22rem;
    }
} */